/*параметры контейнера*/
.container {
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1200px;

	@media screen and (min-width: 480px) {
		margin: 0 auto;
		max-width: 480px;
	}
	@media screen and (min-width: 768px) {
		margin: 0 auto;
		max-width: 768px;
	}
	@media screen and (min-width: 1200px) {
		margin: 0 auto;
		max-width: 1200px;
	}
}
/*флекс контейнер*/
.container--header {
	display: flex;
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 15px;
	padding-right: 15px;
	@include mobile {
		width: 480px;
	}
	@include tablet {
		width: 768px;
	}

	@include desktop {
		width: 1200px;
	}
}

.flex-container {
	display: flex;
	width: 100%;
}

.flex-container--list {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*контекстне меню*/

.menu-container {
	display: none;
	position: absolute;
	height: 600px;
	top: 100%;
	left: 0%;
	width: 100%;
	background-color: palegoldenrod;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	&.is-open {
		display: block;
	}
}
