/*images*/
.section-team__img {
	margin-right: 30px;
	display: block;
}

.section-team__img:last-child {
	margin-right: 0px;
}

.section-occupation__img {
	margin-right: 30px;
	display: block;
}

.section-occupation__item-cover {
	position: relative;
}

.section-occupation__cover {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 370px;
	height: 70px;
	color: #fff;
	font-weight: 700;
	font-size: $font14;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	background-color: rgba(47, 48, 58, 0.8);
}
