/*SVG*/

.list-contacts__envelope {
	fill: currentColor;
	margin-right: 10px;
}
.list-contacts__smartphone {
	fill: currentColor;
	margin-right: 10px;
}

.advantages__div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 270px;
	height: 120px;
	background-color: #f5f4fa;
	border-radius: 4px;
	margin-bottom: 30px;
}

.section-team__flex-network {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.section-team__item-network {
	margin-right: 10px;
}

.section-team__item-network:last-child {
	margin-right: 0px;
}

.section-team__link-network {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	fill: #afb1b8;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-title--client {
	margin-bottom: 50px;
}

.section-clients__list {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

.section-clients__link {
	display: flex;
	align-items: center;
	justify-content: center;
	fill: #afb1b8;
	width: 170px;
	height: 92px;
	border-radius: 4px;
	border: 1px solid #afb1b8;
	margin-right: 30px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-clients__link:hover,
.section-clients__link:focus {
	fill: var(--accent-color);
	border: 1px solid #2196f3;
}

.item-clients:last-child .section-clients__link {
	margin-right: 0px;
}

.icons-list__link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 44px;
	height: 44px;
	fill: var(--white-color);
	background: rgba(255, 255, 255, 0.1);
	transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background: var(--accent-color);
	}
}

.icons-list {
	display: flex;
	list-style-type: none;
}

.icons-list__item {
	margin-right: 10px;
	&:last-child {
		margin-right: 0;
	}
}

.join {
	margin-bottom: 20px;
}
